body{
    background-color:rgb(127, 177, 127) ;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
    color:black
}

section{
    margin: 20px;
    padding: 20px;
}

#About {
    text-align: center;
    background-color: plum;
}

#Experience ul {
    list-style-type: none;
    padding: 0;
}

#Connect a {
    color:lightskyblue
}

#Connect a:hover {
    color:lightpink;
    text-decoration: underline;
}