body{
    background-color:rgb(147, 212, 165);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
    color:black;
}

section{
    margin: 20px;
    padding: 20px;
}

#About {
    text-align: center;
    background-color: lightblue;
}

#Experience ul {
    padding: 0;
    display: block;
    background-color:beige;
}

#Connect a {
    color:aliceblue
}

#Connect a:hover {
    color:bisque;
    text-decoration: underline; 
}